/* Write your code here. */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0f172a;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.blue-color {
  background-color: blue;
  max-height: 100px;
}
.notifications-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.notification {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.notification-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.notification-message {
  margin: 0;
  font-size: 16px;
}
